/**
 * Form section components
 * Section headers, collapsible sections, dividers
 */

/* Set the padding left and right of the section content */
.econ-container form {
  padding-left: var(--form-margin-horizontal);
  padding-right: var(--form-margin-horizontal);
}

/* Section header bar (yellow title bar) */
@supports selector(:has(h3)) {
  .econ-section-header.econ-collapse-header:has(h3) {
    background-color: var(--color-primary);
    box-shadow: var(--shadow-default);
    border-radius: var(--form-section-header-radius);
    /* margin-top: var(--form-section-header-margin-top); */
    margin-bottom: var(--form-section-header-margin-bottom);
    margin-inline: calc((var(--bs-gutter-x, 1.5rem) * -0.5) - var(--form-margin-horizontal));
    padding-top: var(--form-section-header-padding-top);
    padding-bottom: var(--form-section-header-padding-bottom);
  }
  
  /* Section header title */
  .econ-section-header.econ-collapse-header h3 {
    font-size: var(--font-size-18);
    font-family: var(--font-family);
    color: var(--color-text);
    font-weight: var(--font-weight-bold);
    letter-spacing: 0;
    line-height: 1;
    text-align: center;
    margin: 0;
  }
}

.econ-fragment-content-row p {
  font-size: var(--font-size-12);
}

