.econ-container .econ-button-navbar{
    border-top: none;
}
 
button {
    min-width: 300px;
}
 
.gray-box {
    width: 60%;
    background-color: #dfe3ec;
    margin-left: auto;
    margin-right: auto;
    padding: 0.4rem  0.5rem !important;
    border-radius: 6px;
}
 
.gray-box .econ-section__header {
    display: none;
}
 
.okay-99-container {
    width: 40%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 0.4rem  0.5rem !important;
    border-radius: 6px;
    margin-top: 25px;
    text-align: center;
}
 
.okay-99-container button {
    width: 40% !important;
    margin-left: auto;
    margin-right: auto;
}
 
.align-center {
    width: 40%;
    margin-left: 35%;
    margin-right: auto;
    padding: 0.4rem  0.5rem !important;
    border-radius: 6px;
    margin-top: 25px;
    text-align: center;
}
 
.align-center button {
    width: 40% !important;
    margin-left: auto;
    margin-right: auto;
}
 
 
.okay-99-container .row {
    margin: 0 !important;
}
 
.b99-page-nav-btns{
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 45px !important;
    margin-bottom: 70px !important;
    display: flex !important;
    justify-content: center;
    column-gap: 50px;
}
 
.b99-back-btn{
    display: flex;
    justify-content: center;
}
 
.b99-back-btn > button {
    text-transform: none !important;
    height: 58px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    font-size: 0.875em !important;
}
 
.b99-back-btn > button.btn-default:focus {
    background-color: unset !important;
}
 
.b99-next-btn{
    display: flex;
    justify-content: center;
}
 
.b99-next-btn > button {
    background-color: #ffdc00 !important;
    text-transform: none !important;
    height: 58px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    font-size: 0.875em !important;
}
 
 
.b99-save-btn{
    display: flex;
    justify-content: center;
}
 
.b99-save-btn > button,
.b99-page-nav-btns .b99-save-btn > button.btn-primary {
    background-color: rgb(223, 227, 236) !important;
    border-color: rgb(223, 227, 236) !important;
    text-transform: none !important;
    height: 58px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
    font-size: 0.875em !important;
}
 
.b99-save-btn > button.btn-default:focus {
    background-color: rgb(223, 227, 236) !important;
}
 
.b99-download-btn{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
 
.b99-download-btn > button {
    background-color: rgb(142, 142, 147) !important;
    border-color: rgb(142, 142, 147) !important;
    color: rgb(255, 255, 255) !important;
    text-transform: none !important;
    font-weight: 400 !important;
    font-size: 14px !important;
}
 
.b99-download-btn > button.btn-default:focus {
    background-color: rgb(142, 142, 147) !important;
}
 
.b99-btn-as-link button.btn-default {
 font-family: "Post Sans", "Open Sans", sans-serif !important;
 font-size: 1em;
 color: var(--color-blue-hover) !important;
 width: auto;
 height: auto;
 padding: 10px 30px 10px 30px;
 white-space: normal;
 overflow-wrap: normal;
 text-align: left;
 background-color: rgb(0,0,0,0);
 align-items: center;
 display: flex;
    line-height: inherit;
}
 
.b99-btn-as-link button.btn-default:hover {
    background-color: rgb(0,0,0,0) !important;
    box-shadow: unset !important;
    text-decoration: underline;
}
 
.b99-btn-as-link button.btn-default:active {
    background-color: unset;
    box-shadow: none;
}
 
.b99-econ-button--center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}
 
.b99-yellow-btn > button {
    background-color: #ffdc00 !important;
}
 
.b99-email-confirmation-box {
    margin-left: 0.5% !important;
 
}
 
.b99-btn-as-link-abschluss button.btn-default {
 font-family: "Post Sans", "Open Sans", sans-serif !important;
    font-size: 1em;
    color: var(--color-blue-hover) !important;
    width: auto;
    height: auto;
    padding: 10px 10px 10px 10px;
    white-space: normal;
    overflow-wrap: normal;
    text-align: left;
    background-color: rgb(0,0,0,0);
    line-height: inherit !important;
 
}
 
.b99-btn-as-link-abschluss button.btn-default:hover {
    background-color: rgb(0,0,0,0) !important;
    box-shadow: unset !important;
    text-decoration: underline;
}
 
.b99-btn-as-link-abschluss button.btn-default:active {
    background-color: unset;
    box-shadow: none;
}
 
.b99-email-confirmation-box .econ-tooltip--feedback,
.b99-email-confirmation-box .econ-tooltip--info {
    margin-left: 398px !important;
    margin-right: 237px !important;
}
 
.depot-email-confirmation-box .econ-icon--error {
    margin-left: 190px;
} 