/* loan application summary */

.box--white{
    background-color: #FFFFFF;
    border-radius: 0 0 8px 8px;
    padding: 20px 20px 30px 20px;
    width: 100%;
    margin: auto;
    z-index: 0;
    position: relative;
	margin-bottom: 20px;
}

.line {
	border-top: 1px solid #ccc;
	margin: 5px 0 10px 0;
	text-align: center;
}

.floating-summary {
	position: fixed;
	top: 325px;
	right: 50px;
	background-color: #fff;
	padding: 10px;
	border-radius: 6px;
	font-family: "Post Sans", "Open Sans", sans serif !important;
}

.floating-summary .summary-title {
	padding: 10px 30px 0 0 !important;
	text-align: left;
}

.floating-summary .summary-title h2 {
	color: #000 !important;
	font-family: "Post Sans", "Open Sans", sans serif !important;
	margin-bottom: 0;
	padding-right: 60px;
}

.floating-summary .summary-content {
	padding-bottom: 10px;
}

.floating-summary .summary-content h3 {
	font-size: 20px;
	color: #000 !important;
	margin-bottom: 5px;
}

.floating-summary .summary-content h4 {
	color: #000;
}

@media only screen and (min-width: 360px){
	.floating-summary {
		display: none;
	}
}

@media (max-width: 768px) {
	.floating-summary {
		position: sticky;
		margin-bottom: 25px;
		display: block;
	}
}

@media (max-width: 1800px) {
	.floating-summary {
		position: sticky;
		margin-bottom: 25px;
		display: block;
	}
}

@media only screen and (min-width: 974px) and (min-height: 464px) {
	.floating-summary {
		top: 120px;
		right: 10px;
		display: revert;
	}

	.floating-summary .summary-title h2 {
		padding-right: 20px;
	}
}

@media only screen and (min-width: 1380px) {
	.floating-summary {
		top: 230px;
		right: 100px;
	}
	
	.floating-summary .summary-title {
		padding-right: 10px !important;
	}
}


@media only screen and (min-width: 1460px) {
	.floating-summary {
		right: 120px;
	}
	
	.floating-summary .summary-title {
		padding-right: 30px !important;
	}
}