@media (prefers-color-scheme: dark) .theme--os-based-darkmode {
  --color-black-100: #eaeaea;
  --color-black-71: #c3c3c3;
  --color-black-59: #c3c3c3;
  --color-black-34: #a8a8a8;
  --color-black-15: #494949;
  --color-black-9: #414141;
  --color-black-6: #3f3f3f;
  --color-black-3: #3c3c3c;
  --color-white: #333;
  --color-primary-suppressed: #fff;
  --color-transparent-background-default: rgba(51, 51, 51, 0.1);
  --color-transparent-black-6: rgba(63, 63, 63, 0.1);
  --color-blue: #fac800;
  --color-blue-hover: #ffdc00;
  --color-yellow: #0078c8;
  --color-yellow-hover: #0078c8;
  --color-red: rgba(255, 45, 85, 0.9);
  --color-green: #4cd964;
  --color-b99-grey-500: #333;
  --color-b99-grey-600: #3c3c3c;
  --color-b99-grey-640: #3f3f3f;
  --color-button-secondary: #c6cfde;
  --color-button-secondary-hover: #dfe3ec;
  --body-background-color: #333;
  --title-bar-background-color: #3c3c3c;
  --cards-background: #3f3f3f;
  --cards-box-shadow-md: rgba(37, 40, 44, 0.4);
  --color-primary-font: var(--color-blue);
  --color-primary: #ffdc00;
  --color-primary-hover: #fac800;
  --color-on-primary: #000;
  --color-secondary: #0078c8;
  --color-secondary-hover: #005fa0;
  --color-thirdy: #0078c8;
  --link-default-color: var(--color-blue);
  --link-default-color-hover: var(--color-blue-hover);
  --form-content-background-color: var(--color-b99-grey-500);
  --form-footer-background-color: var(--color-b99-grey-600);
  --button-primary-background-color: var(--color-primary);
  --button-primary-background-color-hover: var(--color-primary-hover);
  --button-primary-color: var(--color-on-primary);
  --button-secondary-color: #000;
  --button-secondary-color-hover: #000;
  --button-secondary-border-color: var(--color-button-secondary);
  --button-secondary-border-color-hover: var(--color-button-secondary-hover);
  --button-secondary-background-color: var(--color-button-secondary);
  --button-secondary-background-color-hover: var(
    --color-button-secondary-hover
  );
  --button-secondary-disabled-background-color: transparent;
  --button-default-color: var(--color-black-100);
  --button-default-color-hover: var(--color-black-100);
  --button-default-border-color: var(--color-black-100);
  --button-default-border-color-hover: #8e8e93;
  --button-default-border-radius: 1000px;
  --table-header-color: var(--color-black-71);
  --table-header-background-color: var(--color-b99-grey-640);
  --recommendation-background: var(--color-blue);
  --recommendation-color: var(--color-white);
  --checkable-checked-color: var(--color-black-100);
  --checkable-focused-color: var(--color-blue);
  --color-plus: var(--color-green);
  --color-minus: var(--color-red);
  --color-warning: #ff9500;
}

@media (prefers-color-scheme: light),
  (prefers-color-scheme: no-preference) .theme--os-based-darkmode {
  --color-black-100: #000;
  --color-black-71: #494949;
  --color-black-59: #494949;
  --color-black-34: #8e8e93;
  --color-black-15: #c6cfde;
  --color-black-9: #d2d8e4;
  --color-black-6: #dfe3ec;
  --color-black-3: #eceff4;
  --color-white: #fff;
  --color-primary-suppressed: #000;
  --color-transparent-background-default: rgba(236, 239, 244, 0.1);
  --color-transparent-black-6: hsla(0, 0%, 94%, 0.1);
  --color-blue: #0078c8;
  --color-blue-hover: #005fa0;
  --color-yellow: #ffdc00;
  --color-yellow-hover: #fac800;
  --color-red: #d20019;
  --color-green: #2d8700;
  --color-b99-grey-500: #eceff4;
  --color-b99-grey-600: #dfe3ec;
  --color-b99-grey-640: #d2d8e4;
  --color-button-secondary: #dfe3ec;
  --color-button-secondary-hover: #c6cfde;
  --body-background-color: #eceff4;
  --title-bar-background-color: #c6cfde;
  --cards-background: #fff;
  --cards-box-shadow-md: rgba(198, 207, 222, 0.4);
  --color-primary-font: var(--color-blue);
  --color-primary: #ffdc00;
  --color-primary-hover: #fac800;
  --color-on-primary: #000;
  --color-secondary: #0078c8;
  --color-secondary-hover: #005fa0;
  --color-thirdy: #0078c8;
  --link-default-color: var(--color-blue);
  --link-default-color-hover: var(--color-blue-hover);
  --form-content-background-color: var(--color-b99-grey-500);
  --form-footer-background-color: var(--color-b99-grey-600);
  --button-primary-background-color: var(--color-primary);
  --button-primary-background-color-hover: var(--color-primary-hover);
  --button-primary-color: var(--color-on-primary);
  --button-secondary-color: #000;
  --button-secondary-color-hover: #000;
  --button-secondary-border-color: var(--color-button-secondary);
  --button-secondary-border-color-hover: var(--color-button-secondary-hover);
  --button-secondary-background-color: var(--color-button-secondary);
  --button-secondary-background-color-hover: var(
    --color-button-secondary-hover
  );
  --button-secondary-disabled-background-color: transparent;
  --button-default-color: var(--color-black-100);
  --button-default-color-hover: var(--color-black-100);
  --button-default-border-color: var(--color-black-100);
  --button-default-border-color-hover: #8e8e93;
  --button-default-border-radius: 1000px;
  --table-header-color: var(--color-black-71);
  --table-header-background-color: var(--color-b99-grey-640);
  --recommendation-background: var(--color-blue);
  --recommendation-color: var(--color-white);
  --checkable-checked-color: var(--color-black-100);
  --checkable-focused-color: var(--color-blue);
  --color-plus: var(--color-green);
  --color-minus: var(--color-red);
  --color-warning: #ff9500;
}

.theme--lightmode,
:root {
  --color-black-100: #000;
  --color-black-71: #494949;
  --color-black-59: #494949;
  --color-black-34: #8e8e93;
  --color-black-15: #c6cfde;
  --color-black-9: #d2d8e4;
  --color-black-6: #dfe3ec;
  --color-black-3: #eceff4;
  --color-white: #fff;
  --color-primary-suppressed: #000;
  --color-transparent-background-default: rgba(236, 239, 244, 0.1);
  --color-transparent-black-6: hsla(0, 0%, 94%, 0.1);
  --color-blue: #0078c8;
  --color-blue-hover: #005fa0;
  --color-yellow: #ffdc00;
  --color-yellow-hover: #fac800;
  --color-red: #d20019;
  --color-green: #2d8700;
  --color-b99-grey-500: #eceff4;
  --color-b99-grey-600: #dfe3ec;
  --color-b99-grey-640: #d2d8e4;
  --color-button-secondary: #dfe3ec;
  --color-button-secondary-hover: #c6cfde;
  --body-background-color: #eceff4;
  --title-bar-background-color: #c6cfde;
  --cards-background: #fff;
  --cards-box-shadow-md: rgba(198, 207, 222, 0.4);
  --color-primary-font: var(--color-blue);
  --color-primary: #ffdc00;
  --color-primary-hover: #fac800;
  --color-on-primary: #000;
  --color-secondary: #0078c8;
  --color-secondary-hover: #005fa0;
  --color-thirdy: #0078c8;
  --link-default-color: var(--color-blue);
  --link-default-color-hover: var(--color-blue-hover);
  --form-content-background-color: var(--color-b99-grey-500);
  --form-footer-background-color: var(--color-b99-grey-600);
  --button-primary-background-color: var(--color-primary);
  --button-primary-background-color-hover: var(--color-primary-hover);
  --button-primary-color: var(--color-on-primary);
  --button-secondary-color: #000;
  --button-secondary-color-hover: #000;
  --button-secondary-border-color: var(--color-button-secondary);
  --button-secondary-border-color-hover: var(--color-button-secondary-hover);
  --button-secondary-background-color: var(--color-button-secondary);
  --button-secondary-background-color-hover: var(
    --color-button-secondary-hover
  );
  --button-secondary-disabled-background-color: transparent;
  --button-default-color: var(--color-black-100);
  --button-default-color-hover: var(--color-black-100);
  --button-default-border-color: var(--color-black-100);
  --button-default-border-color-hover: #8e8e93;
  --button-default-border-radius: 1000px;
  --table-header-color: var(--color-black-71);
  --table-header-background-color: var(--color-b99-grey-640);
  --recommendation-background: var(--color-blue);
  --recommendation-color: var(--color-white);
  --checkable-checked-color: var(--color-black-100);
  --checkable-focused-color: var(--color-blue);
  --color-plus: var(--color-green);
  --color-minus: var(--color-red);
  --color-warning: #ff9500;
}
