/* CONTACT NAV */

@font-face {
  font-family: "b99-iconfont";
  src: url("../fonts/b99-iconfont.woff2?n839ip") format("woff2"), url("../fonts/b99-iconfont.ttf?n839ip") format("truetype"), url("../fonts/b99-iconfont.woff?n839ip") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon {
  font-family: "b99-iconfont" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--Chat:before {
  content: "\e925";
}

.icon--FAQ-Fragen-Antworten:before {
  content: "\e93d";
}

.icon--x-entfernen:before {
  content: "\e9dd";
}

.icon--Neuer-Auftrag:before {
  content: "\e982";
}

.icon--Telefon:before {
  content: "\e9c6";
}

.contact-nav {
  font-family: "Post Sans", Helvetica, sans-serif;
}

.open-contact-nav-button, .close-contact-nav-button {
          position: absolute;
          top: 0;
          right: 100%;
          -webkit-transition: -webkit-transform 400ms ease-in-out;
          transition: -webkit-transform 400ms ease-in-out;
          transition: transform 400ms ease-in-out;
          transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
          -webkit-transform: translateX(0), translateY(0);
          transform: translateX(0), translateY(0);
          display: none;
          -moz-transform: translateX(0), translateY(0);
          -ms-transform: translateX(0), translateY(0);
          -o-transform: translateX(0), translateY(0);
}

.open-contact-nav-button a, .close-contact-nav-button a {
  -webkit-box-shadow: 0 7px 7px -9px rgba(0, 0, 0, 0.4);
          box-shadow: 0 7px 7px -9px rgba(0, 0, 0, 0.4);
  padding: 0.9375rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: #0078C8;
  color: #FFFFFF;
}
.open-contact-nav-button a:hover, .close-contact-nav-button a:hover, .open-contact-nav-button a:active, .close-contact-nav-button a:active {
  background-color: #005FA0;
  color: #FFFFFF;
}
.open-contact-nav-button a:hover, .close-contact-nav-button a:hover, .open-contact-nav-button a:active, .close-contact-nav-button a:active {
  text-decoration: none;
}
.open-contact-nav-button .icon, .close-contact-nav-button .icon {
  font-size: 2.75rem;
}
.open-contact-nav-button .text, .close-contact-nav-button .text {
  display: inline-block;
  font-weight: bold;
  line-height: 1.2em;
  position: relative;
}
.is-app .open-contact-nav-button, .is-app .close-contact-nav-button {
  display: none !important;
}

.close-contact-nav-button {
  -webkit-transform: translateX(6.25rem);
          transform: translateX(6.25rem);
  display: none;
}
.close-contact-nav-button a {
  padding: 0.3125rem;
}
.is-app .close-contact-nav-button {
  display: none !important;
}

.contact-nav {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.contact-nav__panel {
  text-align: center;
}
.contact-nav__panel__headline {
  margin: 1.25rem 0 1.5625rem;
  font-weight: bold;
}
.contact-nav__panel__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}
.contact-nav .pro-box {
  padding: 0 0.9375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20rem;
          flex: 0 0 20rem;
  max-width: none;
  text-align: center;
}
.contact-nav .pro-box a {
  font-weight: bold;
}
@media only screen and (min-width: 1380px) {
  .contact-nav {
    position: absolute;
    top: 1.5625rem;
    right: 0;
    -webkit-box-shadow: 0 7px 7px -7px rgba(0, 0, 0, 0.4);
            box-shadow: 0 7px 7px -7px rgba(0, 0, 0, 0.4);
    padding: 0;
    z-index: 300;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .contact-nav__panel {
    background-color: var(--cards-background);
    padding: 1.875rem 0.9375rem 0 0.9375rem;
    border-bottom-left-radius: 0.5rem;
    overflow: hidden;
    text-align: left;
  }
  .contact-nav__panel__headline {
    display: none;
  }
  .contact-nav__panel__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .contact-nav .pro-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    max-width: 20rem;
    text-align: left;
    padding-right: 1.875rem;
  }
  .contact-nav .pro-box .pro-box__icon {
    -ms-flex-item-align: start;
        align-self: start;
  }
  .contact-nav .pro-box .pro-box__icon i, .contact-nav .pro-box .pro-box__icon .icon {
    margin-right: var(--icon-margin);
    margin-bottom: 0;
  }
  .contact-nav .pro-box__content__header h1, .contact-nav .pro-box__content__header h2, .contact-nav .pro-box__content__header h3, .contact-nav .pro-box__content__header h4, .contact-nav .pro-box__content__header h5, .contact-nav .pro-box__content__header h6 {
    font-size: 1.5625rem;
    font-weight: normal;
  }
  .contact-nav .pro-box:after {
    position: absolute;
    top: 0;
    left: -0.9375rem;
    background-color: var(--color-black-15);
    width: 0.0625rem;
    height: 100%;
    display: block;
    content: "";
  }
  .contact-nav .pro-box:first-child::after {
    display: none;
  }
  .contact-nav .open-contact-nav-button,
.contact-nav .close-contact-nav-button {
    display: block;
  }
  .contact-nav .large-12 {
    padding: 0;
  }
  .contact-nav:target, .contact-nav--open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    transition: -webkit-transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  }
  .contact-nav:target .open-contact-nav-button, .contact-nav:target .close-contact-nav-button, .contact-nav--open .open-contact-nav-button, .contact-nav--open .close-contact-nav-button {
    -webkit-transform: translateX(6.25rem) translateY(0.125rem);
            transform: translateX(6.25rem) translateY(0.125rem);
  }
  .contact-nav:target .close-contact-nav-button, .contact-nav--open .close-contact-nav-button {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media only screen and (max-width: 750px) {
  .contact-nav {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
  }
}
.is-app .contact-nav {
  display: none !important;
}

.contact-nav-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 299;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}
.contact-nav-mask--open {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.is-app .contact-nav-mask {
  display: none !important;
}
@media only screen and (min-width: 1380px) {
  .contact-nav-mask {
    background-color: #000000;
  }
  .contact-nav-mask.contact-nav-mask--open {
    opacity: 0.5;
  }
}

/* PRO BOX */
.pro-box {
  --icon-size: 4.5rem;
  --icon-margin: 1rem;
  position: relative;
  text-align: center;
  width: 100%;
  margin: 0 0 1.5625rem 0;
  display: inline-block;
}
.pro-box i, .pro-box .icon {
  font-size: var(--icon-size);
  margin-bottom: var(--icon-margin);
  display: inline-block;
}
.pro-box .icon {
  margin-top: calc(var(--icon-margin) / 2 * -1);
}
.pro-box__icon {
  display: inline-block;
}
.pro-box__content ul,
.pro-box__content ol {
  margin-bottom: 0;
}
.pro-box__content ul li,
.pro-box__content ol li {
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
  line-height: 1.5em;
}
.pro-box__content p {
  margin-bottom: 0;
  line-height: 1.5em;
}
.pro-box__content p + ul {
  margin-top: 0.625rem;
}
.pro-box__content h1,
.pro-box__content h2,
.pro-box__content h3,
.pro-box__content h4,
.pro-box__content h5,
.pro-box__content h6 {
  margin: 0;
  line-height: 1.2em;
}
.pro-box__content h1 + p,
.pro-box__content h2 + p,
.pro-box__content h3 + p,
.pro-box__content h4 + p,
.pro-box__content h5 + p,
.pro-box__content h6 + p {
  margin-top: 0.625rem;
}
.pro-box__content__header h1,
.pro-box__content__header h2,
.pro-box__content__header h3,
.pro-box__content__header h4,
.pro-box__content__header h5,
.pro-box__content__header h6 {
  color: var(--color-primary-suppressed);
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.pro-box__content__header h1:empty,
.pro-box__content__header h2:empty,
.pro-box__content__header h3:empty,
.pro-box__content__header h4:empty,
.pro-box__content__header h5:empty,
.pro-box__content__header h6:empty {
  display: none;
}
.pro-box--top .pro-box__icon {
  -ms-flex-item-align: start;
      align-self: start;
}
.pro-box--bottom .pro-box__icon {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.pro-box--left, .pro-box--right {
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pro-box--left i, .pro-box--left .icon, .pro-box--right i, .pro-box--right .icon {
  margin-bottom: 0;
}
.pro-box--left {
  text-align: left;
}
.pro-box--left i, .pro-box--left .icon {
  margin-right: var(--icon-margin);
}
.pro-box--right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}
.pro-box--right i, .pro-box--right .icon {
  margin-left: var(--icon-margin);
}
.pro-box--xl {
  --icon-size: 6.25rem;
  --icon-margin: 1.375rem;
}
.pro-box--lg {
  --icon-size: 4.5rem;
  --icon-margin: 1rem;
}
.pro-box--md {
  --icon-size: 3.375rem;
  --icon-margin: 0.625rem;
}
.pro-box--sm {
  --icon-size: 2rem;
  --icon-margin: 0.375rem;
}

a.pro-box {
  color: var(--color-black-100);
}
a.pro-box:hover, a.pro-box:active {
  text-decoration: none;
}
a.pro-box:hover h1,
a.pro-box:hover h2,
a.pro-box:hover h3,
a.pro-box:hover h4,
a.pro-box:hover h5,
a.pro-box:hover h6, a.pro-box:active h1,
a.pro-box:active h2,
a.pro-box:active h3,
a.pro-box:active h4,
a.pro-box:active h5,
a.pro-box:active h6 {
  text-decoration: underline;
}

@media only screen and (min-width: 1380px) {
  .contact-nav {
    position: fixed;
    top: 13.563rem;
    right: 0;
    -webkit-box-shadow: 0 7px 7px -7px rgba(0, 0, 0, 0.4);
            box-shadow: 0 7px 7px -7px rgba(0, 0, 0, 0.4);
    padding: 0;
    z-index: 300;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .contact-nav__panel {
    background-color: var(--cards-background);
    padding: 1.875rem 0.9375rem 0 0.9375rem;
    border-bottom-left-radius: 0.5rem;
    overflow: hidden;
    text-align: left;
  }
  .contact-nav__panel__headline {
    display: none;
  }
  .contact-nav__panel__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .contact-nav .pro-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    max-width: 20rem;
    text-align: left;
    padding-right: 1.875rem;
  }
  .contact-nav .pro-box .pro-box__icon {
    -ms-flex-item-align: start;
        align-self: start;
  }
  .contact-nav .pro-box .pro-box__icon i, .contact-nav .pro-box .pro-box__icon .icon {
    margin-right: var(--icon-margin);
    margin-bottom: 0;
  }
  .contact-nav .pro-box__content__header h1, .contact-nav .pro-box__content__header h2, .contact-nav .pro-box__content__header h3, .contact-nav .pro-box__content__header h4, .contact-nav .pro-box__content__header h5, .contact-nav .pro-box__content__header h6 {
    font-size: 1.5625rem;
    font-weight: normal;
  }
  .contact-nav .pro-box:after {
    position: absolute;
    top: 0;
    left: -0.9375rem;
    background-color: var(--color-black-15);
    width: 0.0625rem;
    height: 100%;
    display: block;
    content: "";
  }
  .contact-nav .pro-box:first-child::after {
    display: none;
  }
  .contact-nav .open-contact-nav-button,
.contact-nav .close-contact-nav-button {
    display: block;
  }
  .contact-nav .large-12 {
    padding: 0;
  }
  .contact-nav:target, .contact-nav--open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    transition: -webkit-transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  }
  .contact-nav:target .open-contact-nav-button, .contact-nav:target .close-contact-nav-button, .contact-nav--open .open-contact-nav-button, .contact-nav--open .close-contact-nav-button {
    -webkit-transform: translateX(6.25rem) translateY(0.125rem);
            transform: translateX(6.25rem) translateY(0.125rem);
  }
  .contact-nav:target .close-contact-nav-button, .contact-nav--open .close-contact-nav-button {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media only screen and (max-width: 750px) {
  .contact-nav {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
  }
}
.is-app .contact-nav {
  display: none !important;
}

.contact-nav-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 299;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}
.contact-nav-mask--open {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.is-app .contact-nav-mask {
  display: none !important;
}
@media only screen and (min-width: 1380px) {
  .contact-nav-mask {
    background-color: #000000;
  }
  .contact-nav-mask.contact-nav-mask--open {
    opacity: 0.5;
  }
}