@font-face {
  font-family: "Post Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  src: local(""), url(../fonts/PostSans-Regular.woff2) format("woff2"),
    url(../fonts/PostSans-Regular.woff) format("woff");
}

@font-face {
  font-family: "Post Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  src: local(""), url(../fonts/PostSans-Bold.woff2) format("woff2"),
    url(../fonts/PostSans-Bold.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local(""), url(../fonts/opensans/open-sans-v18-latin-300.woff2) format("woff2"),
    url(../fonts/opensans/open-sans-v18-latin-300.woff) format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: local(""),
    url(../fonts/opensans/open-sans-v18-latin-300italic.woff2) format("woff2"),
    url(../fonts/opensans/open-sans-v18-latin-300italic.woff) format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url(../fonts/opensans/open-sans-v18-latin-regular.woff2) format("woff2"),
    url(../fonts/opensans/open-sans-v18-latin-regular.woff) format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local(""), url(../fonts/opensans/open-sans-v18-latin-italic.woff2) format("woff2"),
    url(../fonts/opensans/open-sans-v18-latin-italic.woff) format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""), url(../fonts/opensans/open-sans-v18-latin-600.woff2) format("woff2"),
    url(../fonts/opensans/open-sans-v18-latin-600.woff) format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: local(""),
    url(../fonts/opensans/open-sans-v18-latin-600italic.woff2) format("woff2"),
    url(../fonts/opensans/open-sans-v18-latin-600italic.woff) format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url(../fonts/opensans/open-sans-v18-latin-700.woff2) format("woff2"),
    url(../fonts/opensans/open-sans-v18-latin-700.woff) format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: local(""),
    url(../fonts/opensans/open-sans-v18-latin-700italic.woff2) format("woff2"),
    url(../fonts/opensans/open-sans-v18-latin-700italic.woff) format("woff");
}
@font-face {
  font-family: Bitter;
  font-style: normal;
  font-weight: 400;
  src: local(""), url(../fonts/bitter/bitter-v17-latin-regular.woff2) format("woff2"),
    url(../fonts/bitter/bitter-v17-latin-regular.woff) format("woff");
}
@font-face {
  font-family: Bitter;
  font-style: italic;
  font-weight: 400;
  src: local(""), url(../fonts/bitter/bitter-v17-latin-italic.woff2) format("woff2"),
    url(../fonts/bitter/bitter-v17-latin-italic.woff) format("woff");
}
@font-face {
  font-family: Bitter;
  font-style: normal;
  font-weight: 600;
  src: local(""), url(../fonts/bitter/bitter-v17-latin-600.woff2) format("woff2"),
    url(../fonts/bitter/bitter-v17-latin-600.woff) format("woff");
}
@font-face {
  font-family: Bitter;
  font-style: italic;
  font-weight: 600;
  src: local(""), url(../fonts/bitter/bitter-v17-latin-600italic.woff2) format("woff2"),
    url(../fonts/bitter/bitter-v17-latin-600italic.woff) format("woff");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url(../fonts/roboto-slab/roboto-slab-v13-latin-300.woff2) format("woff2"),
    url(../fonts/roboto-slab/roboto-slab-v13-latin-300.woff) format("woff");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url(../fonts/roboto-slab/roboto-slab-v13-latin-regular.woff2)
      format("woff2"),
    url(../fonts/roboto-slab/roboto-slab-v13-latin-regular.woff) format("woff");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url(../fonts/roboto-slab/roboto-slab-v13-latin-600.woff2) format("woff2"),
    url(../fonts/roboto-slab/roboto-slab-v13-latin-600.woff) format("woff");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url(../fonts/roboto-slab/roboto-slab-v13-latin-700.woff2) format("woff2"),
    url(../fonts/roboto-slab/roboto-slab-v13-latin-700.woff) format("woff");
}
@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url(../fonts/raleway/raleway-v19-latin-regular.woff2) format("woff2"),
    url(../fonts/raleway/raleway-v19-latin-regular.woff) format("woff");
}
@font-face {
  font-family: Raleway;
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url(../fonts/raleway/raleway-v19-latin-italic.woff2) format("woff2"),
    url(../fonts/raleway/raleway-v19-latin-italic.woff) format("woff");
}
@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url(../fonts/raleway/raleway-v19-latin-600.woff2) format("woff2"),
    url(../fonts/raleway/raleway-v19-latin-600.woff) format("woff");
}
@font-face {
  font-family: Raleway;
  font-style: italic;
  font-weight: 600;
  src: local(""),
    url(../fonts/raleway/raleway-v19-latin-600italic.woff2) format("woff2"),
    url(../fonts/raleway/raleway-v19-latin-600italic.woff) format("woff");
}
